@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
  font-size:62.5%;
  font-family: 'Montserrat', sans-serif;
}
body{
  overflow: hidden;
}
.horizontal-line{
  height: 2px;
  width:100%;
  background-color: #fff;
  background-color: #fff;
}
.first-line{
  width:50%;
  background-color: #fff;
}
.third-line{
  width:50%;
 background-color: #fff; 
 margin-left: 1rem;
}
.register-btn{
  background-color: linear ;
}
.circle{
  filter: blur(120px);
}
input[type="checkbox"]{
  accent-color:#903AFF;
}
.reg-container {
  position: relative;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(30, 30, 30, 0.9);
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.modal {
  border-radius: 5px;
  margin:0 auto;
}
.purpleStar{
  right:25%;
  top:15%;
}
.whiteStar{
  right:70%;
  top:40%;
}
.bright-purple{
  bottom:18%;
  right:30%;
}
/* HERO SECTION */
.big-whiteStar{
  left:5%;
}
.purple-heroStar{
 
 bottom:18%;
 left:40%;
}
/* INTRODUCTION SECTION */
.introduction-purple{
  left:10%;
}
.introduction-purple-2{
  top:30%;
  right:10%;
}
/* RULES SECTION */
.rulesStar1{
  top:20%;
  left:20%;
}
.rulesStar2{
  left:50%;
  top:60%;
}
/* ATTRIBUTE SECTION*/
.attributeStar1{
  top:15%;
  left:10%
}
.attributeStar2{
  top:45%;
  left:25%
}
.attributeStar3{
  top:75%;
  left:40%
}
/* FAQ SECTION */
.faq-Star1{
  top:5%;
  left:5%
}
.faq-Star2{
  top:25%;
  left:60%
}
.faq-Star3{
  top:5%;
  left:80%
}
.faq-Star4{
  top:75%;
  left:40%
}
.faq-Star5{
  bottom:5%;
  right:20%
}
/* TIMELINE SECTION  */
.timelineStar1{
  top:5%;
  left:20%;
}
.timelineStar2{
  bottom:60%;
  left:85%;
}
.timelineStar3{
  bottom:10%;
  left:5%;
}

/* PRIZES SECTION */
.prizes-star1{
  top:10%;
  left:25%;
}
.prizes-star2{
  top:50%;
  right:5%;
}
.prizes-star3{
  top:30%;
  right:50%;
}
.prizes-star4{
  bottom:15%;
  right:18%;
}
.prizes-star5{
  bottom:10%;
  left:15%;
}

/* PARTNERS SECTION */
.partner-star1{
  top:30%;
  left:15%;
}
.partner-star2{
  right:40%;
  top:40%;
}
.partner-star3{
  right:45%;
  top:85%;
}

/* PRIVACY SECTION */
.bright-purple{
 left:60%;
 top:25%;
}
.greyStar{
  left:40%;
  top:10%;
}
.small-whiteStar{
  left:90%;
 top:25%;
}
.purpleStar{
  left:5%;
  bottom:5%;
  z-index:40;
}
.bright-purple2{
  right:40%;
  top:60%;
}
.small-whiteStar2{
  right:5%;
  top:80%;
}

/* FOOTER */
.footer-white{
  right:5%;
  top:80%;
}
.footer-purple{
  bottom:10%;
}
.footer-grey{
  right:40%;
  top:30%;
}
.footerWhite{
  left:2%;
  top:50%;
}
@media (max-width: 640px) {
  .whiteStar{
    right:80%;
    top:40%;
  }
}

/* QUESTION MARK */
.question1{
  top:10%;
  right:45%;
  z-index:50;
}
.question2{
  top:5%;
  right:35%;
  z-index:50;
}
.question3{
  right:25%;
  top:10%;
  z-index:50;
}
.nav-active{
  transform: translateX(-150px);
  transition: all 0.5s ease;
}